body {
  font-family: arial, sans-serif;
  overflow: hidden;
  font-size: 16px;
}
a {
  color: #454545;
  text-decoration: none;
}
.home h2 {
  padding: .5rem 0;
    margin: 1rem 0;
  font-size: 1rem;
  color: #000;
  font-weight: normal;
  text-transform: none;
  border-bottom: 1px solid #ccc;
}
.home section {
  margin: 0 20px;
  overflow: hidden;
}
.home section .property {
  margin-bottom: 1rem;
}
.home section .property:last-child {
  margin-bottom: 0;
}
.home section .label {
  font-size: .7rem;
  margin-bottom: .1rem;
  text-transform: uppercase;
}
.home section .value {
  font-size: 1.15rem;
  font-weight: 300;
  color: #454545;
}
.home section .status {
  font-size: .6rem;
  font-weight: bold;
  display: inline-block;
}
.home section .status.ok {
  color: #27ae61;
}
.home section .status.danger {
  color: #c24034;
}
.home section:first-child {
  margin: 0;
  background: #015a9c;
  padding: 20px;
  color: #fff;
}
.home h3 {
  margin: 0 0 1em 0;
  padding: 0;
  color: #e5d041;
}
.home .car-info {
  clear: both;
}
.home .car-info table {
  width: 49%;
  float: right;
  table-layout: fixed;
  font-size: 12px;
}
.home .car-info table th {
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  font-size: 11px;
  padding: 0;
  vertical-align: top;
}
.home .car-info table td {
  padding: 0;
  font-weight: bold;
  vertical-align: top;
  font-size: 11px;
}
.home .car-info table:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  float: left;
}